SNOWFLAKE_ACCOUNT=organizacion-cuenta
SNOWFLAKE_USER=tu_usuario
SNOWFLAKE_PASSWORD=tu_password
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=ECU911
SNOWFLAKE_BRONZE_SCHEMA=BRONZE
SNOWFLAKE_ROLE=tu_rol
